extends layout

block content
  .container
    h4= title
    a(href="/groups/create") Создать Группу
    if groups.length > 0
      table.table
        thead
          tr
            th Название
            th Специальность
            th Расписание
            th Действия
        tbody
          for group in groups
            tr
              td= group.name
              td= group.specialty.name
              td
                a(href=`/lessons/show?groupName=${group.name}`) Расписание
              td 
                a(href="/groups" data-id=`${group.id}`).group-delete-btn Удалить
  
  script(src="../js/group.js")