extends layout

block content
  .container
    .row.tabs
      ul(role="tablist").nav.nav-pills.mt-4
        li.nav-item.tab-item
          a(href="#monday").nav-link.active Понедельник
        li.nav-item.tab-item
          a(href="#tuesday").nav-link Вторник
        li.nav-item.tab-item
          a(href="#wednesday").nav-link Среда
        li.nav-item.tab-item
          a(href="#thursday").nav-link Четверг
        li.nav-item.tab-item
          a(href="#friday").nav-link Пятница

    .schedule.row.mb-4
      .schedule-container.col-12.col-md-6.offset-md-3
        h3.my-4 Понедельник
        ul.list-group
          if lessons.length > 0 
            for lesson in lessons
              if lesson.day === 'Понедельник'
                li.list-group-item
                  h3= lesson.time
                  h2= lesson.name
                  h4= lesson.room
                  a(href=`/lessons/${lesson.id}`) Удалить занятие
          else
            p У группы нету занятии
      
      .schedule-container.col-12.col-md-6.offset-md-3
        h3.my-4 Вторник
        ul.list-group
          if lessons.length > 0 
            for lesson in lessons
              if lesson.day === 'Вторник'
                li.list-group-item
                  h3= lesson.time
                  h2= lesson.name
                  h4= lesson.room
                  a(href=`/lessons/${lesson.id}`) Удалить занятие
          else
            p У группы нету занятии
      
      .schedule-container.col-12.col-md-6.offset-md-3
        h3.my-4 Среда
        ul.list-group
          if lessons.length > 0 
            for lesson in lessons
              if lesson.day === 'Среда'
                li.list-group-item
                  h3= lesson.time
                  h2= lesson.name
                  h4= lesson.room
                  a(href=`/lessons/${lesson.id}`) Удалить занятие
          else
            p У группы нету занятии
      
      .schedule-container.col-12.col-md-6.offset-md-3
        h3.my-4 Четверг
        ul.list-group
          if lessons.length > 0 
            for lesson in lessons
              if lesson.day === 'Четверг'
                li.list-group-item
                  h3= lesson.time
                  h2= lesson.name
                  h4= lesson.room
                  a(href=`/lessons/${lesson.id}`) Удалить занятие
          else
            p У группы нету занятии
      
      .schedule-container.col-12.col-md-6.offset-md-3
        h3.my-4 Пятница
        ul.list-group
          if lessons.length > 0 
            for lesson in lessons
              if lesson.day === 'Пятница'
                li.list-group-item
                  h3= lesson.time
                  h2= lesson.name
                  h4= lesson.room
                  a(href=`/lessons/${lesson.id}`) Удалить занятие
          else
            p У группы нету занятии
          