extends layout

block content
  .container
    .row.tabs
      ul(role="tablist", id="scheduleTab").nav.nav-pills.mt-4
        li.nav-item.tab-item
          a(href="#monday", id="monday-tab", data-toggle="pill", aria-controls="monday", aria-selected="true").nav-link.day.active Понедельник
        li.nav-item.tab-item
          a(href="#tuesday", id="tuesday-tab", data-toggle="pill", aria-controls="tuesday", aria-selected="false").nav-link.day Вторник
        li.nav-item.tab-item
          a(href="#wednesday", id="wednesday-tab", data-toggle="pill", aria-controls="wednesday", aria-selected="false").nav-link.day Среда
        li.nav-item.tab-item
          a(href="#thursday", id="thursday-tab", data-toggle="pill", aria-controls="thursday", aria-selected="false").nav-link.day Четверг
        li.nav-item.tab-item
          a(href="#friday", id="friday-tab", data-toggle="pill", aria-controls="friday", aria-selected="false").nav-link.day Пятница

    .schedule.tab-content.row.mb-4
      div(aria-labelledby="monday-tab", id="monday", role="tabpanel").schedule-container.tab-pane.fade.show.active.col-12.col-md-6.offset-md-3
        h3.my-4 Понедельник
        ul.list-group
          if lessons.length > 0 
            for lesson in lessons
              if lesson.day === 'Понедельник'
                li.list-group-item
                  h5= lesson.time
                  p= `${lesson.name} - ${lesson.type} - ${lesson.room}`
                  if isUser
                    a(href=`/lessons/show?groupName=${group.name}` data-id=`${lesson.id}`).lesson-delete-btn Удалить занятие
          else
            p У группы нет занятии
      
      div(aria-labelledby="tuesday-tab", class="tab-pane", id="tuesday", role="tabpanel").schedule-container.tab-pane.fade.col-12.col-md-6.offset-md-3
        h3.my-4 Вторник
        ul.list-group
          if lessons.length > 0 
            for lesson in lessons
              if lesson.day === 'Вторник'
                li.list-group-item
                  h5= lesson.time
                  p= `${lesson.name} - ${lesson.type} - ${lesson.room}`
                  if isUser
                    a(href=`/lessons/show?groupName=${group.name}` data-id=`${lesson.id}`).lesson-delete-btn Удалить занятие
          else
            p У группы нет занятии
      
      div(aria-labelledby="wednesday-tab", class="tab-pane", id="wednesday", role="tabpanel").schedule-container.tab-pane.fade.col-12.col-md-6.offset-md-3
        h3.my-4 Среда
        ul.list-group
          if lessons.length > 0 
            for lesson in lessons
              if lesson.day === 'Среда'
                li.list-group-item
                  h5= lesson.time
                  p= `${lesson.name} - ${lesson.type} - ${lesson.room}`
                  if isUser
                    a(href=`/lessons/show?groupName=${group.name}` data-id=`${lesson.id}`).lesson-delete-btn Удалить занятие
          else
            p У группы нет занятии
      
      div(aria-labelledby="thursday-tab", class="tab-pane", id="thursday", role="tabpanel").schedule-container.tab-pane.fade.col-12.col-md-6.offset-md-3
        h3.my-4 Четверг
        ul.list-group
          if lessons.length > 0 
            for lesson in lessons
              if lesson.day === 'Четверг'
                li.list-group-item
                  h5= lesson.time
                  p= `${lesson.name} - ${lesson.type} - ${lesson.room}`
                  if isUser
                    a(href=`/lessons/show?groupName=${group.name}` data-id=`${lesson.id}`).lesson-delete-btn Удалить занятие
          else
            p У группы нет занятии
      
      div(aria-labelledby="friday-tab", class="tab-pane", id="friday", role="tabpanel").schedule-container.tab-pane.fade.col-12.col-md-6.offset-md-3
        h3.my-4 Пятница
        ul.list-group
          if lessons.length > 0 
            for lesson in lessons
              if lesson.day === 'Пятница'
                li.list-group-item
                  h5= lesson.time
                  p= `${lesson.name} - ${lesson.type} - ${lesson.room}`
                  if isUser
                    a(href=`/lessons/show?groupName=${group.name}` data-id=`${lesson.id}`).lesson-delete-btn Удалить занятие
          else
            p У группы нет занятии

      
  script(src="../js/schedule.js")